# Игнорировать все файлы
*

# Исключения — явно добавляемые файлы и папки
!jetton_project/
!jetton_project/templates/
!jetton_project/templates/index.html
!jetton_project/webapp.py
!jetton_project/requirements.txt
